$colorprincipal: #fed401;
$colorsecundario: black;

$colores: (
    colorp:$colorprincipal,
    colors:$colorsecundario,
);

@mixin estilo-card-secciones {
    padding: 1rem;
    margin: 0 0 2vh 0;
    background-color: $colorprincipal;
    color: $colorsecundario;
    border-radius: 3%;
    box-shadow: 1vh 1vh 1px #bdc1c4 ;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}
@mixin estilo-card-gift-card {
    padding: 1rem;
    margin: 1rem;
    background-color: map-get($colores,colorp);
    color: map-get($colores, colors);
    display: flex;
    flex-flow: column;
    align-items: center;
    border-radius: 10%;
    box-shadow: 1vh 1vh 2px #bac3d1;
}

*{
    box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 16px;
	font: inherit;
	vertical-align: baseline;
}
ol, ul {
	list-style: none;
}
html{
	font-size: 16px;
}
body {
    font-family: 'Texturina', serif;
    font-weight: 400;
    background-color: $colorsecundario;
	background-image: url(../img/patternhexagono.jpg);
}
h3 {
    font-weight: 400;
}
h2 {
    font-weight: 800;
}
h1 {
    font-weight: 800;
    font-size: 3rem;
	color: white;
}
p{
	color: white;
}
a {
	text-decoration: none;
	color: white;
	font-weight: 700;
	font-size: 2vh;
}

/* STYLE HEADER */

.container-header{
    padding: 0rem 0rem 0rem 0rem;
	margin: 0rem 0rem 1rem 0rem;
	background-color: $colorsecundario;
	color:white;
	height: 13vh;
    .navbar{
        display: none;
    }
    .container-menu {
        padding: 0rem;
        margin: 0rem 0rem 0rem 0rem;
        background-color: $colorsecundario;
        height: 13vh;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        position: fixed;
        top:0vh;
        width: 100vw;
        .container-logotipo{
            width: 33%;
            height: 100%;
            .logotipo{
                height: 100%;
            }
        }
        .container-lista-de-menu{
            width: 67%;
            margin: 0rem 0rem 0rem 1rem;
            .menu{
                ul{
                    display: flex;
	                flex-flow: row;
	                justify-content:space-around;
                    padding: 1vh;
                    li{
                        padding: 1vh;
                        :hover{
                            color: map-get($colores,colorp);
                            transform: translate(10px);
                            position: relative;
                            top:-5px;
                            text-shadow: 5px 5px 2px white ;
                            transition: all 0.5s;
                            }                  
                    }
                }
                
            }
        }
    }
}
/* STYLE INDEX */
.container-titulo-principal{
	height: 25vh;
	text-align: center;
	background-color: transparent;
    p{
        height: 25vh;
        text-align: center;
        background-color: transparent;
    }
}
.container-whatsapp-button{
	padding: 1rem;
	margin: 1rem;
	background-color: $colorprincipal;
	display: inline-block;
	border-radius: 50%;
	position: fixed	;
	bottom: 1rem;
	right: 10px;
	border: $colorsecundario solid 0.5vh;
	z-index: +1;
   #whatsapp-button{
       img{
        height: 5vh;
       }
   }
}
.container-card-secciones{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	margin: 2vh;
    .card-secciones {
        @include estilo-card-secciones();
        width: 40vh;
        height: 57vh;
        
        &:hover{
            transform: translate(0, -3vh);
            transition: all 0.3s;
        }
        img{
            width: 100%;
        }
        p{
            width: 100%;
            text-align: center;
            color: map-get($colores, colors);
        }
        h2{
            width: 100%;
            text-align: center;
            color: map-get($colores, colors);
            font-size: 2rem;
        }
    }
}
#carouselsecciones{
	display: none;
}

/* STYLE FOOTER */

.container-pie {
	margin: 1rem 0rem 0rem 0rem;
	background-color: $colorsecundario;
	color:white;
    .container-datos-pie{
        display: flex;
        justify-content: center;
        align-items:center;
    }
    .container-logotipo{
        padding: 0rem;
        margin: 0rem;
        min-width: 10vw;
        img{
            width: 100%;
        }
    }
    .container-mapa {
        padding: 1rem;
        margin: 1rem;
    }.container-datos-de-contacto {
        padding: 1rem;
        margin: 1rem;
    }
    
}
.container-redes{

    margin: 0rem 0rem 0rem 0rem;
    background-color: $colorprincipal;
    display:flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 8vh;
    p{
        margin: 0;
        color: $colorsecundario;
        font-size: 1.5rem;
    }
    h3{
        color: $colorsecundario;
        font-size: 1.5rem;
        margin: 0 0 0 1rem;
    }
    img{
        margin: 0rem 1rem;
        background-color: $colorprincipal;
        height: 1.5rem;
    }
    .container-iconos{
        display: flex;
        flex-flow: row nowrap;
    }
}
#pie .container-redes-mobile {
	display: none;
}
.container-historia{
    h2{
        color: white;
        text-align: center;
    }
    border: #fed401 double 1rem;
    padding: 1vh;
    margin: 1rem;
}
/* Comienzo style MAIN (TATTOO) */
#tatuajes{
    h2{
        color:white;
        font-size: 2rem;
        text-align: center;
        padding: 1rem;
        margin: 1rem;
    }
}
#piercings{
    h2{
        color:white;
        font-size: 2rem;
        text-align: center;
        padding: 1rem;
        margin: 1rem;
    }
}
#estampados{
    h2{
        color:white;
        font-size: 2rem;
        text-align: center;
        padding: 1rem;
        margin: 1rem;
       
    }
    p{
        text-align: center;
    }
}
#tazas{
    h2{
        color:white;
        font-size: 2rem;
        text-align: center;
        padding: 1rem;
        margin: 1rem;
       
    }
    p{
        text-align: center;
    }
}
#equivalencias{
    h2{
        color:white;
        font-size: 2rem;
        text-align: center;
        padding: 1rem;
        margin: 1rem;
    }
}
.container-galeria-estampados{
    padding: 1rem;
	background-color: map-get($colores, colors);
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	width: 100vw;
	max-width: 100%;
	gap:1rem;
	background-color:transparent;
    .card-estampado{
        height: 100%;
        width: 100%;
        border-radius: 10%;
        img{
            height: 100%;
	        width: 100%;
	        border-radius: 10%;
        }
    }   
}
.container-galeria{
	padding: 1rem;
	background-color: map-get($colores, colors);
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	width: 100vw;
	max-width: 100%;
	gap:1rem;
	background-color:transparent;
   
    .card-tatuaje{
        height: 100%;
        width: 100%;
        border-radius: 10%;
        img{
            height: 100%;
	        width: 100%;
	        border-radius: 10%;
        }
    }
    :nth-child(n):hover{
        transform: scale(1.5);
        transition: all 0.75s;
        border: map-get($colores,colorp) double 3px;
    }

    .card-piercing{
        height: 100%;
        width: 100%;
        border-radius: 10%;

        img{
            height: 100%;
	        width: 100%;
	        border-radius: 10%;
        }
    }
}

#tatuajes{
    .container-galeria{
        @for $i from 1 to 3 {
            :nth-child(#{$i}){
                grid-row: (#{$i})/(#{$i+2});
                grid-column:(#{$i})/(#{$i+2});
                @if $i==2 {
                    grid-column:(#{$i+1})/(#{$i+3});
                }
                transform: none;
            }
        }
    }
}
#piercings{
    .container-galeria{
        @for $i from 1 to 3 {
            :nth-child(#{$i}){
                grid-row: (#{$i})/(#{$i+2});
                grid-column:(#{$i})/(#{$i+2});
                @if $i==2 {
                    grid-column:(#{$i+1})/(#{$i+3});
                }
                transform: none;
            }
        }
    }
}
#estampados{
    .container-galeria-estampados{
        :nth-child(n):hover{
            transform: scale(1);
            transition: all 0.75s;
            border: map-get($colores,colorp) double 3px;
        }
    }
}
#tazas{
     .container-galeria-estampados{
        :nth-child(n):hover{
            transform: scale(1);
            transition: all 0.75s;
            border: map-get($colores,colorp) double 3px;
        }
    }
}

/* STYLE GIFT CARD */

.container-carousel-gift-card{
    display: none;
    }
#gift-card{
    .container-titulo{
        padding: 1rem;
        margin: 1rem;
        border:1rem;
        border-color: map-get($colores,colorp);
        border-style: double;
        height: 100%;
        text-align: center;
        height: 35vh;
    } 
}   
.container-card-gift-card{
    display: flex;
	flex-flow: row wrap;
	justify-content: center;
    .card-gift-card{
        @include estilo-card-gift-card();
        width: 40vh;
        height: 45vh;
       
        img{
            width: 100%;
        }
        h3{
            text-align: center;
            color: map-get($colores, colors);
            font-size: 2rem;
        }
        p{
            text-align: center;
            color: map-get($colores, colors);
        }
    }
}
#equivalencias{
    .container-tabla{
        padding: 1rem;
        margin: 1rem;
        border: #fed401 double 1rem;
        table{
            color: white;
            text-align: center;
            .titulo-tabla{
                font-weight: 700;
                font-size: 1.1rem;
                color: map-get($colores, $colorp );
            }
        }
    }
}
/* STYLE CONTACTO */

#contacto{
    .container-titulo{
        padding: 1rem;
	margin: 1rem;
	border:1rem;
	border-color: map-get($colores,colorp);
	border-style: double;
	height: 100%;
	text-align: center;
	color: white;
        h2{
            font-size: 2rem;
        }
    }
    .container-formulario{
        padding: 1rem;
        margin: 1rem;
        border: 1rem;
        border-style: double;
        border-color: map-get($colores,colorp);
        height: 100%;
        color: map-get($colores, colors);
        legend{
            font-size: 1rem;
            p{
                margin-bottom: 0;
            }
        }
        .form-control{
            border: map-get($colores,colorp) 2px solid;
            margin-top:1rem;
        }
        .form-check-label{
            color: white;
        }
        
        .btn-primary{
            background-color: map-get($colores,colorp);
            color:map-get($colores, colors);
            border: 1px map-get($colores,colorp) solid;
            margin-top: 1rem;
        }
    }
}
/* MEDIA QUERI */

@media screen and (max-width: 832px){
    .container-header{
        height: 10vh;
        .container-menu{
            display: none;
        }
        .navbar{
            margin: 0;
	    	padding: 0;
		    display: flex;
            .container-fluid{
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                margin: 0;
                padding: 0;
                background-color: map-get($colores, colors);
                .navbar-toggler{
                    background-color: map-get($colores,colorp);
                }
                .navbar-brand{
                    img{
                        width: 70vw;
                        flex-flow: row nowrap;
                    }
                }
                .offcanvasheigth{
                    height: 50vh;
                    width: 50vw;
                }
                .offcanvascolor{
                    background-color:map-get($colores, colors);
                }
                .offcanvas{
                    .offcanvas-header{
                        .btn-close{
                            background-color: map-get($colores,colorp);
                            color: map-get($colores, colors);
                        }
                    }
                    .offcanvas-body{
                        .navbar-nav{
                            .nav-item{
                                .nav-link{
                                    color: white;
                                    :active{
                                        color: map-get($colores,colorp);
                                    }
                                }
                                .dropdown-menu{
                                    background-color: map-get($colores, colors);
                                    color: map-get($colores,colorp);
                                    .dropdown-item{
                                        color: white;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .container-lista-de-menu{
        display: none;
    }
    .container-datos-pie{
        img{
            display: none;
        }
    }
    .container-redes{
        display: none;
    }
    #pie{
        .container-datos-pie{
            display: flex;
		    flex-flow: column nowrap;
		    justify-content:space-around;
		    height: 90vh;
            .container-redes-mobile{
                width: 100%;
		        display: flex;
		        flex-flow: row nowrap;
		        justify-content:space-around;
                .card-redes-mobile{
                    background-color: map-get($colores,colorp);
		            color: map-get($colores, colors);
		            height: 11vh;
		            width: 11vh;
		            border-radius: 10%;
		            box-shadow: 1vh 1vh 2px #bdc1c4;
                     img{
                        display: flex;
	    	            height: 80%;
		                width: 80%;
		                margin: 1vh;
                    }
                }
            }
            .container-datos-de-contacto{
                margin: 0rem;
                padding: 0rem;
            }
            .container-mapa{
                margin: 0rem;
                padding: 0rem;
            }
        }
    }
    .container-titulo-principal{
        height: 25vh;
        h1{
            font-size: 2rem;
        }
        p{
            font-size: 1rem;
        }
    }

    .container-carousel{
        #carouselsecciones{
            display: flex;
        }
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        .card-secciones{     
            @include estilo-card-secciones();     
	        width: 40vh;
	        height: 57vh;
	        display: flex;
	        flex-flow: column nowrap;
	        justify-content: space-around;
            h2{
                text-align: center;
                color: map-get($colores, colors);
                font-size: 2rem;
            }
            p{
                text-align: center;
                color: map-get($colores, colors);
            }
            :hover{
                transform: none;
            }
        }
    }
    #gift-card{
        .container-titulo{
            height: 40vh;
        }
    }
    .container-card-secciones{
        display: none;
    }
    #carousel-secciones{
        display: flex;
    }
    .container-titulo{
        max-height: 50vh;
    }
    .card-gift-card{
        img{
            width: 75%;
        }
    }
    .container-carousel-gift-card{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        height: 47vh;
        .card-gift-card{
            @include estilo-card-gift-card();
            height: 40vh;
            width: 40vh;
            img{
                width: 100%;
            }
            h2{
                text-align: center;
                margin: 0;
            }
            p{
                text-align: center;
                margin: 0;
                color: map-get($colores, colors);
            }
        }
    }
    #carouselgiftcard{
        .carousel-item{
            h2{
                height: 20%;
            }
            p{
                height: 20%;
            }
        }
    }
    .container-card-gift-card{display: none;}
}